<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-uWxY/CJNBR+1zjPWmfnSnVxwRheevXITnMqoEIeG1LJrdI0GlVs/9cVSyPYXdcSF" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-kQtW33rZJAHjgefvhyyzcGF3C5TFyBQBA13V1RKPf4uH+bwyzQxZ6CmMZHmNBEfJ" crossorigin="anonymous"></script>
</head>

<body>
<div class="card">
  <div class="card-header">
    <h3>Invoice #: <%= @order.id %></h3>
    <h5>Created at: <%= @order.created_at.to_date %></h5>
  </div>
  <div class="card-body">
    <h4>Address</h4>
    <%= @address.address1 %><br />
    <% unless @address.address2.nil? %>
      <%= @address.address2 %><br />
    <%end %>
    <%= @address.city  %>,  <%= @address.state %>,  <%= @address.zip %><br/>
    <%= @address.country %>
  <br/>
    <hr>
    <br>
    <table class="table table-hover">
      <thead>
      <tr>
        <th>Product Name</th>
        <th>Quantity</th>
        <th>Price</th>
      </tr>
      </thead>
      <tbody>
      <% LineItem.where(cart_id: @current_user.carts.last.id).each do |li|%>
        <tr>
          <td> <%= Product.find(li.product_id).product_name %> </td>
          <td> <%= li.quantity %> </td>
          <td> <%= Product.find(li.product_id).price %> </td>
        </tr>
      <% end %>
      </tbody>
    </table>
    <div class="card-footer">
      <h3>Total: ₹<%= @amount%></h3>
  </div>
</div>
</div>
</body>
</html>