<div class="card">
  <div class="card-header">
  </div>
  <div class="card-body rounded">
    <div class="container">
      <div class="grid product">
        <div class="column-xs-12 column-md-7">
          <div class="product-gallery">
            <div class="product-image">
              <%= image_tag @product.image, class:"active"  %>
            </div>
<!--            <ul class="image-list">-->
<!--              <li class="image-item"><img src="https://source.unsplash.com/W1yjvf5idqA"></li>-->
<!--              <li class="image-item"><img src="https://source.unsplash.com/VgbUxvW3gS4"></li>-->
<!--              <li class="image-item"><img src="https://source.unsplash.com/5WbYFH0kf_8"></li>-->
<!--            </ul>-->
          </div>
        </div>
        <div class="column-xs-12 column-md-5">
          <h1><%= @product.product_name %></h1>
          <h2>₹<%= @product.price %></h2>
          <h6>Stock: <%= @product.stock %></h6>
          <div class="description">
            <p><%= @product.description %></p>
          </div>
          <%= form_tag line_items_path(product_id: @product) do %>
          <div class="qty-input">
            <span>Quantity: </span>
              <button onclick="this.parentNode.querySelector('input[type=number]').stepDown()" class="qty-count qty-count--minus" data-action="minus" type="button">-</button>
              <%= number_field_tag  'quantity', '1' , class:"product-qty", type:"number", name:"qty", min:"1", max: "#{@product.stock}" %>
              <button onclick="this.parentNode.querySelector('input[type=number]').stepUp()" class="qty-count qty-count--add" data-action="add" type="button">+</button>
              </div>
              <%= submit_tag 'Add To Cart', class:"add-to-cart" %>
            <% end %>
        </div>
      </div>
    </div>
  </div>
</div>